@import "tailwindcss";

@theme {
    --color-resilmesh-blue: #343F5D;
    --color-resilmesh-magenta: #E4295F;
    --color-resilmesh-light-blue: #44BFEC;
    --color-resilmesh-violet: #513A72;
    --color-resilmesh-pink: #EB998D;
    --color-resilmesh-white: #F1F2F2;
    --font-poppins: 'Poppins', 'sans-serif';
    --font-nunito: 'Nunito Variable', 'sans-serif';
}